# CMake
cmake-build-debug/
cmake-build-release/
build/
bin/
lib/
*.exe
*.o
*.obj
*.a
*.lib
*.dll
*.dylib
*.so
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
Testing/
.ninja_log
.ninja_deps

# IDEs
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
